body {
    text-align: center;
}

canvas {
    border: 1px solid black;
    width: 95%;
}

div.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

div.toolbar > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.5em;
}

div.toolbar > div > div > select {
    flex: 1;
}

div.toolbar > div > div > button {
    width: 14em;
    margin-left: 3em;
}